<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MindsLab Streamer-TTS Retroactive Data</title>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/waitMe.min.css}">
    <script th:src="@{/js/waitMe.min.js}"></script>
    <style>
        #date {
            margin-right: 500px;
        }
    </style>
</head>
<body>
    <span>DATE : </span><input id="date" type="date"/>

    <button id="btn_fee">FEE 소급 입력</button>
    <button id="btn_donation">도네이션 LOG 소급 입력</button>
    <button id="btn_log">로그확인</button>
    <button id="btn_cal">정산금액 확인</button>
    <button id="sign_out">로그아웃</button><br>
    <span>
        기본적으로 도네이션 로그는 다음날 0시, FEE는 다음날 0시 30분에 자동 입력 됩니다.
    </span>
    <script>
        $(document).ready(function(){
            $("#date").val(getYesterday());
            $("#date").attr("max", getYesterday());
            getVoices();
        });

        $("#btn_fee").click(function(){
            $.ajax({
                url:"/retroactFee",
                data: {
                    date : $("#date").val()
                },
                beforeSend: setWaitMe()

            }).done(function(e){
                alert("FEE 소급 입력이 완료 되었습니다. " + e + " 건");
                $("body").waitMe("hide");
            })
        });

        $("#btn_donation").click(function(){
            $.ajax({
                url:"/retroactDone",
                data: {
                    date : $("#date").val()
                },
                beforeSend: setWaitMe()
            }).done(function(e){
                alert("도네이션 LOG 소급 입력이 완료 되었습니다. " + e + " 건");
                $("body").waitMe("hide");
            })
        });

        $("#sign_out").click(function() {
            window.location.href = "/signOut"
        });

        $("#btn_log").click(function() {
            window.location.href = "/logViewer"
        });

        $("#btn_cal").click(function() {
            window.location.href = "/"
        });

        function setWaitMe() {
            $("body").waitMe({
                effect : 'bounce',
                text : '조회 중입니다. 잠시만 기다려주세요.',
                bg : 'rgba(100,100,180,0.7)',
                color : '#ddd',
                maxSize : '',
                waitTime : -1,
                textPos : 'vertical',
                fontSize : '',
                source : '',
                onClose : function() {}
            });
        }

        function getYesterday() {
            let date_obj = new Date();
            let yester_date = date_obj.getTime() - (1 * 24 * 60 * 60 * 1000);
            date_obj.setTime(yester_date);

            let year = date_obj.getFullYear();
            let month = date_obj.getMonth() + 1;
            let date = date_obj.getDate();

            if (month < 10) {month = "0" + month}
            if (date < 10) {date = "0" + date}

            return year + "-" + month + "-" + date;
        }
    </script>
</body>
</html>